* {
    background-color: rgb(158, 75, 75);
}

h1 {
    text-align: center;
    font-size: 40px;
        
}

#subtitle {
    text-align: center;
}

#scoreboard {
    text-align: center;
}

#Results {
    text-align: center;
}

#gameScreen {
    display: flex;
    justify-content:space-evenly;
}

#scoreboard {
    display: flex;
    justify-content: space-evenly;
}

button {
    font-weight: 500;
    background-color: rgb(120, 120, 120);
    padding: 5px;
    border-width: 3px;
    border-color: rgb(145, 145, 145);
}