* {
    background-color: rgb(158, 75, 75);
}

h1 {
    text-align: center;
    font-size: 50px;
        
}

#scoreboard {
    text-align: center;
}

#Results {
    text-align: center;
}

#gameScreen {
    display: flex;
    justify-content: space-between;
}
